
.add form{
    gap: 20px;
}
.add-img-upload img{
    width:120x;
}
.add-product-name,
.add-product-description{
    width:max(40%,350px);
}
.add-product-name input,
.add-product-description textarea{
    padding:10px;  
}
.add-category-price{
    display:flex;
    gap:30px;
    width:max(40%,350px);

}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding:10px;

}
.add-btn{
    width: 280px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}