.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.login-popup-container {
  place-self: center;
  width: max(28vw, 360px);
  color: #808080;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 35px;
  border-radius: 8px;
  font-size: 14px;
  animation: fadeIn;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-animation: fadeIn;
}
.login-popup-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.login-popup-tittle img {
  width: 16px;
  cursor: pointer;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-inputs input {
  outline: none;
  border: 1px solid #c9c9c9;
  padding: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: tomato;
  font-size: 15px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 8px;
  margin-top: -11px;
}
.login-popup-condition input {
  margin-top: 2.5px;
}
.link {
  color: tomato;
  font-weight: 500;
  cursor: pointer;
}
