/* .list{

}
.list-table-format{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap:10px;
    padding:12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
    width: 100%;
}
.list-table-format.title{
    background-color: #f9f9f9;

}
.list-table-format img{
    width: 50px;
} */

.list-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list-table-format {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 13px;
  width: 100%;
}
.list-table-format.title {
  background-color: #f9f9f9;
}

.list-table-format img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.list-table-format b {
  font-size: 14px;
  text-align: left;
}

.list-table-format p {
  margin: 0;
}

.title {
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 15px 10px;
}

.list-table-format:last-child {
  border-bottom: none;
}

.list-table-format p:last-child {
  color: red;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.list-table-format p:last-child:hover {
  color: darkred;
}
.cursor {
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 600px) {
  .list {
    width: 95%;
  }

  .list-table-format {
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 15px;
  }

  .list-table-format .category {
    display: none;
  }
}
